<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pandas Metrics</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/portfolio-item.css" rel="stylesheet">



</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#">Fortune 1000 Megazine Metrics</a>
     </div>
     <div id="navbar" class="navbar-collapse collapse">

       <ul class="nav navbar-nav navbar-right">
         <li class="active"><a  href="/">Home</a></li>
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Available Reports <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="/report-one/">Fortune 1000</a></li>
             <li><a href="#">Report #2</a></li>

           </ul>
         </li>
       </ul>
     </div><!--/.nav-collapse -->
   </div>
 </nav>

    <!-- Page Content -->
    <div  >




      <div class="col-md-12">

        {% block layout_content %}



        {% endblock %}

      </div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    {% block js_content %}



    {% endblock %}


</body>

</html>
