{% extends "default.html" %}
{% block layout_content %}
<link href="/static/css/style.css" rel="stylesheet">
<div class="col-md-3 " >
   <div class="col-md-12 custom_container " >
      <div  >
         <div class="col-md-12" style='border-bottom: 1px solid #e6ecf5;'>
            <h4 style='margin: 0; margin-top: 10px;color:#d0343a;     margin-bottom: 10px; '>Generate Report </h4>
         </div>
         <div class=" " >
            <form role="form" >
               <div class="col-md-12"   style='margin-bottom:10px;margin-top:10px;'>
                  <div class="form-group">
                     <label for="exampleInputEmail1">Sector <span style="color:red;font-size:12px;">(Required)</span>:</label>
                     <select class="form-control" id="sectorID" required>
                        <option value="" selected="selected">Select Sector</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <label for="exampleInputPassword1">Industry:</label>
                     <select class="form-control" id="industryID">
                        <option value="" selected="selected">Select Industry</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <label for="exampleInputPassword1">Company:</label>
                     <select class="form-control" id="companyID">
                       <option value="" selected="selected">Select Company</option>
                     </select>
                  </div>
               </div>
               <div class="col-md-12" style='border-top: 1px solid #e6ecf5; '>
                  <div class="" style='margin-bottom:10px;margin-top:10px;'>
                     <button type="button" name="button" class="btn btn-primary">Get Report</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<div class="col-md-9 " >
    <div class="row">
      <div class="col-md-12">
        <div class=" custom_container" >
           <div class="col-md-12" style='border-bottom: 1px solid #e6ecf5;'>
              <h4 style='margin: 0; margin-top: 10px;color:#d0343a;     margin-bottom: 10px; '>Report  </h4>
           </div>
           <div  id="chartdiv" style="width: 100%; height: 362px;" ></div>
        </div>
      </div>

        <div class="col-md-12" style='margin-top:20px;'>
          <div class=" custom_container" >
             <div class="col-md-12" style='border-bottom: 1px solid #e6ecf5;'>
                <h4 style='margin: 0; margin-top: 10px;color:#d0343a;     margin-bottom: 10px; '>Data </h4>
             </div>
             <div  id="chartdiv" style="width: 100%; height: 362px;" ></div>
          </div>
        </div>
      </div>
</div>


 


{% endblock %}


{% block js_content %}
<script type="text/javascript">
  var theEndPointDroprt = '/api/data/report_one/';
  var the_data = '';


  $.ajax({
       method:'GET',
       url:theEndPointDroprt,
       success:function(data){
         
          the_data = data;
          setDropdown()

       },
       error:function(erro_data){
          console.log('the error', erro_data)
        }
  })


</script>

<script type="text/javascript">
  
 

  

 function setDropdown(){
    var the_data_response =  the_data;
     var sectorID = document.getElementById("sectorID"),  
        industryID = document.getElementById("industryID"),  
        companyID = document.getElementById("companyID"); 
         console.log('load data' , the_data)
    for (var sector in the_data_response) {

        sectorID.options[sectorID.options.length] = new Option(sector, sector);
    }
    sectorID.onchange = function () {
        industryID.length = 1; // remove all options bar first
        companyID.length = 1; // remove all options bar first
        var tester = the_data_response[this.value];
        console.log('first dropwodn' , tester)
        if (this.selectedIndex < 1) return; // done   
        for (var company in the_data_response[this.value]) {
            industryID.options[industryID.options.length] = new Option(company, company);
        }
    }
    sectorID.onchange(); // reset in case page is reloaded
    industryID.onchange = function () {
        companyID.length = 1; // remove all options bar first
        if (this.selectedIndex < 1) return; // done   
        var cities = the_data_response[sectorID.value][this.value];
        for (var i = 0; i < cities.length; i++) {
            companyID.options[companyID.options.length] = new Option(cities[i], cities[i]);
        }
    }
 }
</script>

{% endblock %}
